language: python

matrix:
  include:
    - python: "3.6"
      os: linux

    - python: "3.6"
      language: generic-covered
      os: osx
      env: pyver=3.6 pydist=macpython

install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get update;fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then echo "Running on OS X"; else echo "Running on Linux"; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda install conda-build
  # Useful for debugging any issues with conda
  - conda info -a

  # conda channels
  - conda config --append channels conda-forge
  - conda config --append channels cmutel
  - conda config --append channels haasad

  # conda build
  - conda build ./travis-recipe

  # Create environment
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      conda create -q -n test-environment python=$pyver pytest;
    else
      conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION;
    fi
  - source activate test-environment
  - conda install --use-local activity-browser

script:
  #xvfb-run -a activity-browser
  - "python run-ab-travis.py"
  
after_success:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then 
        echo "upload should happen here";
      else
        echo "not master branch, no upload";
     fi
   else
    echo "no upload from osx";
   fi
        

notifications:
  email:
    on_success: always # default: change
    on_failure: always # default: always
