# Using multiple examples:
# https://github.com/Anaconda-Platform/anaconda-project/blob/master/appveyor.yml
# https://github.com/AnacondaRecipes/conda-feedstock/blob/master/.appveyor.yml
build: "off"

environment:
  # PYTHONIOENCODING: "UTF-8"
  PYTHONUNBUFFERED: 1

  matrix:
    - CONDA_PY: "36"
      CONDA_INSTALL_LOCN: "C:\\Miniconda36-x64"
    - CONDA_PY: "37"
      CONDA_INSTALL_LOCN: "C:\\Miniconda37-x64"

install:
  - call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  # Install package requirements & test suite
  - conda install -q -c conda-forge -c cmutel -c haasad arrow brightway2 bw2io bw2data eidl fuzzywuzzy matplotlib-base networkx pandas pyside2=5.13 seaborn "pytest>=5.2" pytest-qt pytest-mock

test_script:
  - py.test
