


/*to make the svg resizable*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    /*overflow: hidden;*/
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

svg {
  border: 1px solid #999;
  /*overflow: hidden;*/
}

.node {
  white-space: nowrap;
}

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 3px;
}

.cluster rect {
  stroke: #333;
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

h1, h2 {
  color: #333;
}

/*textarea {
  width: 800px;
}*/

text {
  font-family: sans-serif;
  font-size: 8px;
}

label {
  margin-top: 1em;
  display: block;
}

.error {
  color: red;
}

