


/*to make the svg resizable*/ /*
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%; /* aspect ratio */ /*
    vertical-align: top;
    /*overflow: hidden;*/ /*
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
} */ /*

svg {
  border: 1px solid #999;
  /*overflow: hidden;*/ /*
} */

.canvas {
  overflow: visible;
}
.canvas .wrapper.outer > .background {
  fill: #000000;
}
.canvas .wrapper.inner > .background {
  fill: #FFFFFF;
  cursor: move;
}
.canvas .background {
  fill: #FFFFFF;
  stroke: #333333;
  cursor: move;
}
.canvas .panCanvas {
  cursor: move;
}

.canvas .minimap {
  stroke: #000000; /* #111111 */
  stroke-width: 1px;

}

.canvas .minimap .frame {
  pointer-events: all;
}

.canvas .minimap .container {
  stroke: #000000; /* #111111 */
  stroke-width: 1px;
}

.canvas .minimap .frame .background {
  stroke: #FF0000; /* #111111 */
  stroke-width: 10px;
  fill-opacity: 0.1;
  fill: #000000; /* #FF0000 */
  /*fill: url(#minimapGradient_qwpyza); */
  filter: url(#minimapDropShadow_qwpyza);
  cursor: move;
}

.node {
  white-space: nowrap;
}

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 3px;
}

.cluster rect {
  stroke: #333;
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

h1, h2 {
  color: #333;
}

/*textarea {
  width: 800px;
}*/

text {
  font-family: sans-serif;
  font-size: 8px;
}

label {
  margin-top: 1em;
  display: block;
}

.error {
  color: red;
}

