


/*to make the svg resizable*/ /*
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%; /* aspect ratio */ /*
    vertical-align: top;
    /*overflow: hidden;*/ /*
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
} */ /*

svg {
  border: 1px solid #999;
  /*overflow: hidden;*/ /*
} */

.canvas {
  overflow: visible;
}
.canvas .wrapper.outer > .background {
  fill: #FFFFFF;
  stroke: #333333;
}
.canvas .wrapper.inner > .background {
  fill: #FFFFFF;
  cursor: move;
}
.canvas .background {
  fill: #FFFFFF;
  cursor: move;
}
.canvas .panCanvas {
  cursor: click;
}

.canvas .minimap {
  stroke-width: 1px;
}

.canvas .minimap .frame {
  pointer-events: all;
}

.canvas .minimap .container {
  stroke: #000000; /* #111111 */
  /*stroke-width: 1px;*/
  /*border: 1px solid #999;*/
}

.canvas .minimap .frame .background {
  stroke: #FF0000; /* #111111 */
  stroke-width: 10px;
  fill-opacity: 0.1;   /*grey shade of mini-map*/
  fill: #FFFFFF; /* #FF0000 */
  /*fill: url(#minimapGradient_qwpyza); */
  filter: url(#minimapDropShadow_qwpyza);
  cursor: move;
  border: 1px solid #999;
}

/*
.cluster rect {
  stroke: #333;
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 1.5px;
}*/

h1, h2 {
  color: #333;
}

/*textarea {
  width: 800px;
}*/

text{
  font-family: sans-serif;
  font-size: 14px;
  /* no effect:
  text-align: center;
  word-wrap: break-word;
  width: 50px;
  max-width: 60px;
  */
}

.activityNameText {
    color:black;
    text-align: center;
}
.locationText {
    color: grey;
    text-align: center;
    /*font-weight:bold;*/
}
.edgeText {
    color:darkblue;
    text-align: center;
}

.node {
    fill: black;  /* text color of nodes*/
    white-space: nowrap;
    cursor: pointer;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 3px;
}

.node.treatment rect {
  stroke: #ff634c;
  fill: #fff;
  stroke-width: 3px;
}

.node.market rect {
  stroke: #ff7b00;
  fill: #fff;
  stroke-width: 3px;
}

.node.marketgroup rect {
  stroke: #ffc34c;
  fill: #fff;
  stroke-width: 3px;
}

.edgePath {
  fill: grey; /* Arrow head */
}

.edgeLabel {
    fill: darkblue;  /* text color of edges*/
}

.edgePath path.path {
  stroke: lightblue; /* Edge */
  stroke-width: 3px;
}

/*.label {
   /* text color*/
  /* no effect:
  margin-top: 30em;
fill: red;
  display: block;
  text-align: right;
  font: 20px sans-serif;
  background: #fffce2;
  padding: 200px; */
/*}

.edgeLabel {
   /* text color*/
  /* no effect:
  fill: red;
  margin-top: 30em;
  display: block;
  text-align: right;
  font: 20px sans-serif;
  background: #fffce2;
  padding: 200px; */
/*}*/

.error {
  color: red;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: #fffce2;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    /*color: red;*/
}