syntax:glob
build
dist
docs/_build
*.pyc
*~
MANIFEST
activity_browser.egg-info
target
*.swp
Makefile
.DS_Store
.cache
.pytest_cache
activity_browser/ABSettings.json
*.bak
/.idea
/.vscode
.coverage
.logs
test/.logs
