name: Pull request tests
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  test-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [ 3.6, 3.7, 3.8 ]
    steps:
      - uses: actions/checkout@v2
      - name: Testing python ${{ matrix.python-version }}
        uses: s-weigand/setup-conda@v1.0.5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          conda install -q -y -c defaults -c conda-forge -c cmutel -c haasad \
            -c pascallesage arrow "brightway2>=2.1.2" "bw2io>=0.7.dev1" \
            "bw2data>=3.6.1" "eidl>=1.2.0" fuzzywuzzy "matplotlib-base>=2.2.2" \
            networkx "pandas>=0.24.1" "pyside2>=5.13.1" "salib>=1.3.11" \
            seaborn presamples openpyxl "pytest>=5.2" pytest-qt \
            pytest-mock "xlrd=1.2.0"
      - name: Run tests
        run: |
          pytest -v

  test-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.6, 3.7, 3.8 ]
    steps:
      - uses: actions/checkout@v2
      - name: Testing python ${{ matrix.python-version }}
        uses: s-weigand/setup-conda@v1.0.5
        with:
          python-version: ${{ matrix.python-version }}
      # See https://stackoverflow.com/a/60694208/14506150
      # and https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions
      - name: Install linux dependencies
        run: |
          sudo apt install -y libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 \
            libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 \
            libxcb-xfixes0 xvfb x11-utils;
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid \
          --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 \
          1920x1200x24 -ac +extension GLX +render -noreset;
      - name: Install dependencies
        run: |
          conda install -q -y -c defaults -c conda-forge -c cmutel -c haasad \
            -c pascallesage arrow "brightway2>=2.1.2" "bw2io>=0.7.dev1" \
            "bw2data>=3.6.1" "eidl>=1.2.0" fuzzywuzzy "matplotlib-base>=2.2.2" \
            networkx "pandas>=0.24.1" "pyside2>=5.13.1" "salib>=1.3.11" \
            seaborn presamples openpyxl "pytest>=5.2" pytest-qt \
            pytest-mock "xlrd=1.2.0" coveralls coverage pytest-cov
      - name: Run linux tests
        env:
          QT_DEBUG_PLUGINS: 1
        run: |
          catchsegv xvfb-run --auto-servernum pytest --cov=activity_browser --cov-report=;
      - name: Upload coverage
        if: ${{ matrix.python-version == '3.7' }}
        # https://github.com/lemurheavy/coveralls-public/issues/1435#issuecomment-763357004
        # https://coveralls-python.readthedocs.io/en/latest/usage/configuration.html#github-actions-support
        # https://github.com/TheKevJames/coveralls-python/issues/252
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: github
        run: |
          coveralls
