name: tests and development release
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  patch-test-environment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Patch test environment dependencies
        # This step adds the run requirements from the stable recipe to the test environment
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq eval-all 'select(fi == 0).dependencies += select(fi == 1).requirements.run | select(fi == 0)' ci/environment-test.yml ci/recipe/stable/meta.yaml > patched-environment.yml
      - name: Show patched environment
        run: cat patched-environment.yml
      - name: Upload patched environment as artifact
        uses: actions/upload-artifact@v2
        with:
          name: patched-environment
          path: patched-environment.yml

  test-macos:
    runs-on: macos-latest
    needs: patch-test-environment
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Download patched test environment
        uses: actions/download-artifact@v2
        with:
          name: patched-environment
      - name: Testing python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: test
          environment-file: patched-environment.yml
      - name: Run tests
        run: |
          pytest

  test-windows:
    runs-on: windows-latest
    needs: patch-test-environment
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Download patched test environment
        uses: actions/download-artifact@v2
        with:
          name: patched-environment
      - name: Testing python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: test
          environment-file: patched-environment.yml
      - name: Run tests
        run: |
          pytest

  test-linux:
    runs-on: ubuntu-latest
    needs: patch-test-environment
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Download patched test environment
        uses: actions/download-artifact@v2
        with:
          name: patched-environment
      - name: Testing python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: test
          environment-file: patched-environment.yml
      # See https://stackoverflow.com/a/60694208/14506150
      # and https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions
      - name: Install linux dependencies
        run: |
          sudo apt install -y libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 \
            libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 \
            libxcb-xfixes0 xvfb x11-utils;
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid \
          --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 \
          1920x1200x24 -ac +extension GLX +render -noreset;
      - name: Install coveralls dependencies
        run: |
          conda install -q -y coveralls coverage pytest-cov
      - name: Run linux tests
        env:
          QT_DEBUG_PLUGINS: 1
        run: |
          catchsegv xvfb-run --auto-servernum pytest --cov=activity_browser --cov-report=;
      - name: Upload coverage
        if: ${{ matrix.python-version == '3.8' }}
        # https://github.com/lemurheavy/coveralls-public/issues/1435#issuecomment-763357004
        # https://coveralls-python.readthedocs.io/en/latest/usage/configuration.html#github-actions-support
        # https://github.com/TheKevJames/coveralls-python/issues/252
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: github
        run: |
          coveralls

  deploy-development:
    # Make sure to only run a deploy if all tests pass.
    needs:
      - test-linux
      - test-macos
      - test-windows
    # And only on a push event, not a pull_request.
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    env:
      PKG_NAME: "activity-browser-dev"
    steps:
      - uses: actions/checkout@v2
      - name: Build and deploy 3.8
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.8
          activate-environment: build
          environment-file: ci/environment-build.yml
      - name: Export version
        run: |
          echo "VERSION=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
      - name: Patch recipe with run requirements from stable
        uses: mikefarah/yq@master
        # Adds the run dependencies from the stable recipe to the dev recipe (inplace)
        with:
          cmd: |
            yq eval-all -i 'select(fi == 0).requirements.run += select(fi == 1).requirements.run | select(fi == 0)' ci/recipe/dev/meta.yaml ci/recipe/stable/meta.yaml
      - name: Show patched dev recipe
        run: cat ci/recipe/dev/meta.yaml
      - name: Build development package
        run: |
          conda build ci/recipe/dev
      - name: Upload the development package
        run: |
          anaconda -t ${{ secrets.CONDA_UPLOAD_TOKEN }} upload --force \
          /usr/share/miniconda/envs/build/conda-bld/noarch/*.tar.bz2
